@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,400;10..48,500;10..48,600;10..48,700;10..48,800&display=swap');


* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Bricolage Grotesque', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 25%;
  height: fit-content;
  background-color: aliceblue;
}

.header__logo__image {
  height: 120px;
  width: auto;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  margin: 0 25%
}

.header__nav__list {
  display: flex;
  gap: 5vw;
}

.header__nav__list a{
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(237, 237, 245);
  padding: .5rem 1.5rem;
  background-color: rgb(95, 156, 156);
  border-radius: 6px;
}

.header__nav__list a:hover{
  background-color: rgb(160, 29, 29);
}

.main {
  background-color: rgb(245, 212, 168);
  padding: 1rem 20vw 2rem 20vw;
}

.main__title {
  margin-bottom: 1rem;
  text-align: center;
  text-transform: capitalize;
  font-size: 8rem;
  font-weight: 800;
  color: rgb(143, 54, 216);
}

.main__article {
  font-size: 1.5rem;
  color: #7b1f8d;
}






